mixin actions-item(id, value, text, className, isChecked=false)
    li.actions__item
        input(
            id=id,
            class="actions__button " + className,
            type="radio",
            name="action",
            value=value,
            checked=isChecked
        )
        label(class="actions__label" for=id)= text