extends ./templates/layout.jade
include ./mixins/header.jade

block title
    title Как решать японский кроссворд

block content
    +header(true, false, false)

    main.main-content
        article.article
            p.
                Для решения японского кроссворда необходимо в соответствии с числами, которые представлены слева в
                строках и сверху в столбцах, разгадать зашифрованную картинку. Числа означают, сколько слитно
                закрашенных клеток находится в данной строке или столбце. Эти группы разделены как минимум одной
                пустой клеткой.
            p.
                Например, стоит всего одна цифра 9 в ряду, значит, в этом ряду должно быть 9 подряд закрашенных
                черных клеток, а если стоят цифры 2, 4, 5, то это означает, что в ряду должны быть закрашены две,
                четыре и пять клеток, но соответственно не подряд, а с разрывами между ними на одну или более клеток.
                И вот эта величина разрывов является самым сложным для отгадывания.
            p.
                Ну как, стало понятнее? Нет? Тогда давай попробуем вместе решить простой пример. Готов? Поехали!
            
            div.crossword-wrapper
                svg(
                    class="crossword j-crossword-example",
                    viewBox="0 0 1017 1017",
                    width="500",
                    height="500"
                )

            ol
                li
                    p.
                        Для начала найдем самые большие числа. В нашем случае это 8 в крайнем столбце справа. Длина
                        столбца также 8, и, следовательно, можно смело закрашивать его весь.
                    div.crossword-wrapper
                        svg(
                            class="crossword j-crossword-example",
                            viewBox="0 0 1017 1017",
                            width="500",
                            height="500",
                            data-step="1"
                        )
                li
                    p.
                        Если возле ряда стоит одно число, которое больше, чем половина длины этого ряда, то, как ни
                        располагайте эту группу, все равно несколько клеток в середине будут закрашены. У нас это
                        число 5 во втором столбце (слева) и пятой строке (сверху). Начнем со столбца. Две клетки в
                        середине второго столбца можно смело закрасить.
                    div.crossword-wrapper
                        svg(
                            class="crossword j-crossword-example",
                            viewBox="0 0 1017 1017",
                            width="500",
                            height="500",
                            data-step="2"
                        )
                li
                    p.
                        Положние группы в пятой строке (сверху) теперь известно точно, т.к. отрезок от крайнего правого
                        (закрашенного) столбца до второго столбца (слева) и составляет как раз 5 клеток. Сразу же
                        закрасим первую строку (сверху), т.к. группа из 3-х клеток должна пересекаться с закрашенной
                        клеткой из крайнего правого (закрашенного) столбца.
                    div.crossword-wrapper
                        svg(
                            class="crossword j-crossword-example",
                            viewBox="0 0 1017 1017",
                            width="500",
                            height="500",
                            data-step="3"
                        )
                li
                    p.
                        Теперь займемся третьим (слева) столбцом. Одна закрашенная клетка уже известна. Вторая группа
                        из двух клеток будет расположена соответственно выше первой группы (одна клетка). Положение ее
                        определит пересечение со второй и третьей строкой (сверху).
                    div.crossword-wrapper
                        svg(
                            class="crossword j-crossword-example",
                            viewBox="0 0 1017 1017",
                            width="500",
                            height="500",
                            data-step="4"
                        )
                li
                    p.
                        В самой нижней строке расположены две группы длиной две и одна клетка. Положение группы из
                        одной клетки уже известно, благодаря все тому же крайнему правому столбцу, а вот группа из
                        двух клеток начинается сразу с первого столбца. После этого можно закрашивать и последний
                        столбец из пяти клеток.
                    div.crossword-wrapper
                        svg(
                            class="crossword j-crossword-example",
                            viewBox="0 0 1017 1017",
                            width="500",
                            height="500",
                            data-step="5"
                        )
            p.
                Ну вот и все! Надеюсь, вы узнали букву А. Поскорее примени полученные знания на практике. Переходи
                в <a href="/catalog.html">каталог</a> и решай! Удачи!
